<form method ="post" action="<%= planet_path(@planet.id) %>
	<input type="text" name="planet[name]" autofocus placeholder="name" value="<%=@planet.name %">
	<input type="text" name="planet[orbit]" value="<%=@planet.orbit %">
	<input type="text" name="planet[diameter]" value="<%=@planet.diameter %">
	<input type="text" name="planet[mass]" value="<%= @planet.mass %">
	<input type="text" name="planet[moons]" value="<%= planet.moons %">
	<button>PLANET ME</button>
</form>