<!DOCTYPE html>
<html>
<head>
  <title>Moma</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav>
<ul>
<li><%= link_to('new artist',new_artist_path) %></li>
<li><%= link_to('new painting',new_painting_path) %></li>
</ul>
</nav>

<%= yield %>

</body>
</html>
