<a href="/"><button>HOME</button></a>
<a href="/stock"><button>STOCKS</button></a>
<a href="/movies"><button>FLICKS</button></a>
<section>
	<p><h1 class="results2"><%= @title %> (<%= @rating %>/10)</h1></p> <p><h1>(<%= @year %>) </h1></p>

	<img src="<%= @poster %>">
</section>
<section class="index2">
<%= @plot %>
</section>

<!-- 
<%= @movies %> -->
